i {
    /* Default styling for all <i> tags */
    width: 24px; /* Changeable */
    height: 24px; /* Changeable */
    color: black; /* Changeable */
    
    display: inline-block;
}

i.pointed-arrow-down {
    background-color: currentColor; /* Takes color from <i> */
    
    -webkit-mask: url('https://cdn.jsdelivr.net/gh/NageshSabat2004/svg-icons@refs/heads/main/pointed-arrow-down.svg') no-repeat center;
    mask: url('https://cdn.jsdelivr.net/gh/NageshSabat2004/svg-icons@refs/heads/main/pointed-arrow-down.svg') no-repeat center;
    
    -webkit-mask-size: contain;
    mask-size: contain;
        }
